*:root {
    width: auto;
    height: 100%;
}


body {
    margin: 0;
    background: white;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/*navigation bar*/
.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: black;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    color: white;
    padding: 10px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 40px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a::after {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: #ED661F;
    position: absolute;
    bottom: 0;
    width: 0;
}


nav a:hover::after {
    width: 100%;
}

span {
    background-color: #ED661F;
    padding: 20px;
}

/*body section*/

.Buying h1 {
    width: 23%;
    margin-top: 0%;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 62%;
    padding-bottom: 30%;
}

.Buying h1 {
    background-image: url(assets/images/image\ 2.png), url(assets/images/image\ 1.png);
    background-repeat: no-repeat;
    background-position: top right, center;
    background-size: 50%, 100%;
}

h2 {
    width: 23%;
    display: flex;
    padding-left: 15%;
    font-weight: 100;
    padding-right: 10%;
    clear: right;
    margin-top: -30%;

}

p {
    text-decoration: #ED661F;
    display: flex;
    width: 15%;
    padding-left: 15%;
    font-weight: 300;
    font-size: 150%;
    padding-right: 0%;
}

span {
    text-emphasis-color: white;
    color: white;
    background-color: #ED661F;

}

/*table styling*/
table {
    width: 30%;
    background-color: white;
    text-align: center;
    float: right;
    padding: 2%;
    margin: 13%;
    box-shadow: 2px 2px 4px;

}

/*middle body section*/

.middle h1 {
    margin-bottom: -30;
    margin: 25%;
    margin-left: 15%;
    width: 15%;
    text-decoration: underline #ED661F;
}

.middle p {
    padding-right: 3%;
    width: 35%;
    margin: -10%;
    margin-left: 0%;
    margin-top: -24%;
    float: left;
}

.middle img {
    float: right;
    width: 40%;
    margin-top: -30%;
    margin-right: 10%;
}

.end h1 {
    display: flex;
    padding-left: 23%;
    width: 40%;
    margin-top: -2px;
    text-decoration: underline #ED661F;
}

.end p {
    display: flex;
    padding-left: 30%;
    width: 40%;
    text-align: center;
}

.heading_3 {
    padding-left: 15%;
    margin-top: -20%;
    text-decoration: underline #ED661F;

}

/* styling Product Section 1*/

.main-container {
    width: 80%;
    margin: 40px auto 0;
    display: flex;
    align-items: center;
    margin-top: -2%;
    padding-top: 14px;

}

.main-container .card-option {
    text-align: center;
}

.card-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-option {
    width: 30%;
    max-width: 30%;
    background-color: #fff;
    margin: auto;
    text-align: center;
    justify-content: center;
    display: block;
    height: 300px;
    margin: 15px;
}

.img-card-option {
    height: 100px;
    width: 100%;
    justify-content: center;
}

.img-card-option>img {
    height: inherit;
    margin: 0 auto;
}

.description>h3 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
}

.description>p {
    font-size: 18px;
    width: 70%;
    text-align: center;
    font-weight: 450;
    margin-top: 20px;
    margin-left: 12%;
    color: grey;
}

.heading_3_section_2 {
    padding-left: 15%;
    margin-top: 0;
    text-decoration: underline #ED661F;
}



/* styling Product Images 2*/


.main-container_1 {
    width: 80%;
    margin: 40px auto 0;
    display: flex;
    align-items: center;
    margin-top: -2%;
    padding-top: 14px;
    text-decoration: none;
}

.main-container_1.card-option_1 {
    text-align: center;
    text-decoration: none;
}

.card-option_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-option_1 {
    width: 30%;
    max-width: 30%;
    background-color: #fff;
    margin: auto;
    text-align: center;
    justify-content: center;
    display: block;
    height: 300px;
    margin: 15px;
}

.img-card-option_1 {
    height: 100px;
    width: 100%;
    justify-content: center;
}

.img-card-option_1>img {
    height: inherit;
    margin: 0 auto;
}

.description_1>h3 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
}

.description_1>p {
    font-size: 18px;
    width: 70%;
    text-align: center;
    font-weight: 450;
    margin-top: 20px;
    margin-left: 12%;
    color: grey;
}

/* see more section*/

.see_more {
    float: right;
    margin-right: 6%;
    margin-top: -3%
}

/* rating section*/

.customer-rating {
    width: 80%;
    margin: auto;
}

.customer-rating>h1 {
    font-size: 600;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: left;
}

.customer-rating-section {

    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.column2 {
    margin-bottom: 10px;
    background: #fff;
    padding: 40px;
    cursor: pointer;
    margin-top: 80px;

    box-shadow: 2px 2px 2px 2px;
}

.column2>p {
    text-align: center;
    font-size: 300;
    padding: 20;
}

.column>h2 {
    text-align: right;
}

.column2 .fa {
    color: #ED661F;
    object-fit: contain;
    align-items: center;
    padding-left: 10px 10px;
}

.Read {
    text-align: right
}

.Read {
    text-align: right
}

/* footer section */
.subscribe-section {
    background: black;
    width: 90%;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 20px;
}

.subscribe-header>h1 {
    color: #fff;
    font-size: 30;
    font-weight: 300;
    text-align: center;
    padding-top: 50px;

}

.subscribe-header>p {
    color: #fff;
    font-size: 22px;
    font-weight: 200;
    text-align: center;
    padding-bottom: 30px;

}

.search {
    width: 200px;
    margin-left: 28%;
    text-align: center;
    display: flex;
}

.srch {
    width: 300px;
    height: 45px;
    background: #fff;
    border: 1px solid #fff3f3;
    font-size: 18px;
    border-right: 0;
}

.sub-btn{
    width: 200px;
    height: 46px;
    background: #ED661F;
    border: 2px solid #ED661F;
    
    font-size: 22px;
    color: #fff;
    margin-bottom: 50px;
    cursor: pointer;

}
.sub-btn:hover{
    box-shadow: #a6b7c56b 6px 15px 16px 0px;}

.footer-contact{
    background: black;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}
.row3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10%;
    margin-top: 16px;
}
.company-logo >h1{
    color: white;
    font-weight: 300;
    font-size: 36px;
    padding-left: 18px;
}
.company-logo > p{
    color: #fff;
    font-size: 16px;
    font-weight: 100;
    padding-left: 18px;
}
.company-footer> h1{
    color: #fff;
    font-weight: 200;
    padding-top: 16px;
    padding-bottom: 10px;
    font-size: 26px;
}

.company-footer ul li{
    list-style: none;
    color: #fff;
    padding: 4px 4px 4px 4px;
}
.company-footer ul li a{
    text-decoration: none;
    color: #fff;
}
.copyright{
    color: #fff;
    text-align: center;
    font-size: 9px;

    padding-top: 30px;
    padding-bottom: 40px;
}